<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sso_center.dao.UserRegiste">
    <select id="findByName" resultType="TG_User">
        select * from User where name = #{username};
    </select>

    <insert id="UserRegister" parameterType="TG_User">
        insert into user values(#{id},#{name},#{password});
    </insert>
</mapper>
